$dk1: #203a42;
$dk2: #282828;
$dk3: #3c3836;
$dk4: #504945;

$lt1: #fbf1c7;
$lt2: #ebdbb2;
$lt3: #d5c4a1;
$lt4: #bdae93;

$bgh: $dk1;
$bg: $dk2;
$bg1: $dk3;
$bg2: $dk4;

$fgh: $lt1;
$fg: $lt2;
$fg1: $lt3;
$fg2: $lt4;

$red: #cc241d;
$green: #98971a;
$yellow: #d79921;
$orange: #d65d0e;
$blue: #458588;
$purple: #b16286;
$aqua: #689d6a;
$gray: #928374;

$mainaccent: $red;
$bordercolor: $bgh