[Unit]
Description=Sunshine Game Streaming Service
After=network.target

[Service]
ExecStart=/usr/bin/sunshine
Restart=always
RestartSec=10
Environment=DISPLAY=:0
WorkingDirectory=%h

[Install]
WantedBy=default.target

