#window {
    {{- if eq .chezmoi.hostname "pakku" }}
    width: 55%;
    height: 100%;
    {{- else }}
    width: 35%;
    {{- end }}
}
element-icon{
    size: 40px;
}
element-text{
    padding: 0px 0px 0px 15px;
}
/*listview{
    columns: 4;
}*/
