// -*- mode: jsonc -*-
{
    "layer": "top",
    // "position": "bottom", // Waybar position (top|bottom|left|right)
    "height": 30, // Waybar height (to be removed for auto height)
    // "width": 1280, // Waybar width
    "spacing": 20, // Gaps between modules (4px)
    // Choose the order of the modules
    "modules-left": [
        "hyprland/workspaces",
        "hyprland/submap"
        // "niri/workspaces"
        // "hyprland/window",
        // "custom/media",
        // "mpd"
        // "group/mpd"
    ],
    "modules-center": [
        //"hyprland/window"
	    "clock"
    ],
    "modules-right": [
        // "group/mpd-vertical",
        // "idle_inhibitor",
        // "power-profiles-daemon",

	{{- if eq .chezmoi.hostname "hoshizora" }}
        "cpu",
        // "memory",
        "temperature",
        "hyprland/language",
	{{- end }}

        "backlight",
        "battery",
        // "battery#bat1",
        //"clock",
        "pulseaudio",
        "network",
        // "tray",
        "group/minimized",
        "custom/power"
    ],
    // Modules configuration
    "hyprland/workspaces": {
        "DP-2": [ 1, 2, 3, 4, 5 ],
        // "DP-1": [ 6, 7, 8, 9, 10 ],
	    "show-special": true,
        //"all-outputs": true,
        "move-to-monitor": true,
        "warp-on-scroll": false,
        "on-scroll-up": "hyprctl dispatch workspace e+1",
        "on-scroll-down": "hyprctl dispatch workspace e-1",
        // "format": "{name} {icon}",
        // "format": "{name} {windows}",
	
	{{- if eq .chezmoi.hostname "pakku" }}
        "format": "{name}",
	{{- else }}
        "format": "{icon} {windows}",
	{{- end }}

        "format-icons": {
            "1": "1",//"1  ",
            "2": "2",//"2  ",
            "3": "3",//"3  ",
            "4": "4",//"4  ",
            "5": "5",//"5  ",
            "6": "6",//"6",//"6  ",
            "7": "7",//"7",
            "8": "8",//"8",
            "9": "9",//"9",
            "10": "0",//"0",
            // "urgent": " ",
            // "focused": " ",
            // "default": "",//" ",
            // "special": "☆" ,
            "dc": "",//"󰙯 ",
            "spc": "",//" ",
            "gpt": "",//"󰚩 ",
        },
        "workspace-taskbar": {
            "enable": true,
            "format": "{icon}",
            "icon-size": 16,
            // "icon-theme": "breeze"
        },
    },
    "hyprland/window": {
        "separate-outputs": true,
	    // "format": "<span rise='-4444'>{title}</span>",
        // "icon": true
    },
    "hyprland/submap": {
        "format": "<span style=\"italic\">{}</span>"
    },
    "mpd": {
        "format": "{stateIcon} {consumeIcon}{randomIcon}{repeatIcon}{singleIcon}{artist} - {album} - {title} ({elapsedTime:%M:%S}/{totalTime:%M:%S}) ⸨{songPosition}|{queueLength}⸩ {volume}%  ",
        "format-disconnected": "Disconnected  ",
        "format-stopped": "{consumeIcon}{randomIcon}{repeatIcon}{singleIcon}Stopped  ",
        "unknown-tag": "N/A",
        "interval": 5,
        "consume-icons": {
            "on": " "
        },
        "random-icons": {
            "off": "<span color=\"#f53c3c\"></span> ",
            "on": " "
        },
        "repeat-icons": {
            "on": " "
        },
        "single-icons": {
            "on": "1 "
        },
        "state-icons": {
            "paused": "",
            "playing": ""
        },
        "tooltip-format": "MPD (connected)",
        "tooltip-format-disconnected": "MPD (disconnected)"
    },
    "custom/media": {
        // "format": "{icon} {text}",
        "format": "{text}",
        "return-type": "json",
        "max-length": 40,
        "format-icons": {
            // "spotify": " ",
            "default": "🎜"
        },
        "escape": true,
        "exec": "$HOME/.config/waybar/mediaplayer.py 2> /dev/null" // Script in resources folder
        // "exec": "$HOME/.config/waybar/mediaplayer.py --player spotify 2> /dev/null" // Filter player based on name
    },
    "clock": {
        // "timezone": "Europe/Warsav",
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        "format": "{:%H:%M | %Y-%m-%d}",
	    "on-click": "$HOME/.config/hypr/scripts-assets-hypr/rofi-launcher.sh",
	    "on-click-right": "gnome-calendar",
	    "on-click-middle": "gnome-weather"
    },
    "idle_inhibitor": {
        "format": "{icon}", // added space for spacing in the minimized group
        "format-icons": {
            "activated": " ",
            "deactivated": " "
        }
    },
    "cpu": {
        "format": "{usage}%  ",
        // "tooltip": false,
        "tooltip-format": "{usage}",
        "on-click": "$HOME/.config/hypr/scripts-assets-hypr/screenshot-grimblast.sh area",
        "on-click-right": "$HOME/.config/hypr/scripts-assets-hypr/screenshots-dir-open.sh"
    },
    "memory": {
        "format": "{}%  ",
        "on-click": "$HOME/.config/hypr/scripts-assets-hypr/screenshot-grimblast.sh area",
        "on-click-right": "$HOME/.config/hypr/scripts-assets-hypr/screenshots-dir-open.sh"
    },
    "temperature": {
        // "thermal-zone": 2,
        "hwmon-path": "/sys/class/hwmon/hwmon2/temp1_input",
        "critical-threshold": 80,
        // "format-critical": "{temperatureC}°C {icon}",
        "tooltip": false,
        "format": "{temperatureC}°C {icon}",
        "format-icons": ["", "", ""],
        "on-click": "control",
        "on-click-right": "$HOME/.config/hypr/scripts-assets-hypr/open-task-manager.sh",
    },
    "backlight": {
        // "device": "acpi_video1",
        "format": "{percent}% {icon}",
        "format-icons": ["", "", "", "", "", "", "", "", ""]
    },
    "battery": {
        "states": {
            // "good": 95,
            "warning": 30,
            "critical": 15
        },
        "format": "{capacity}% {icon}",
        "format-full": "{capacity}% {icon}",
        "format-charging": "{capacity}% ",
        "format-plugged": "{capacity}% ",
        "format-alt": "{time} {icon}",
        // "format-good": "", // An empty format will hide the module
        // "format-full": "",
        "format-icons": ["", "", "", "", ""]
    },
    "battery#bat2": {
        "bat": "BAT2"
    },
    "power-profiles-daemon": {
        "format": "{icon}", // added space for spacing in the minimized group
        "tooltip-format": "Power profile: {profile}\nDriver: {driver}",
        "tooltip": true,
        "format-icons": {
            "default": " ",
            "performance": " ",
            "balanced": " ",
            "power-saver": " "
        },
        "on-click-right": "control"
    },
    "hyprland/language": {
        "format": "  {}",
        "format-en": "EN",
        "format-pl": "PL",
        "format-jp": "JP",
        "on-click": "",
    },
    "network": {
        // "interface": "wlp2*", // (Optional) To force the use of this interface
        // "format-wifi": "{essid} ({signalStrength}%)  ",
        "format-wifi": "({signalStrength}%)  ",
        // "format-ethernet": "{ipaddr}/{cidr}  ",
        "format-ethernet": "",
        // "tooltip-format": "{ifname} via {gwaddr}  ",
        "tooltip-format": "{ipaddr}/{cidr}\n{ifname} via {gwaddr}  ",
        "format-linked": "(No IP)  ",
        "format-disconnected": "Disconnected ⚠ ",
        "format-alt": "{ifname}: {essid}",
        "on-click-right": "nm-connection-editor"
    },
    "pulseaudio": {
        // "scroll-step": 1, // %, can be a float
	    // "max-volume": 150,
        "format": "{volume}% {icon} {format_source} ",
        // "format": "{volume}% {icon} ",
        "format-bluetooth": "{volume}% {icon} {format_source} ",
        // "format-bluetooth-muted": " {icon} {format_source}",
        "format-bluetooth-muted": "{volume}%  {icon} {format_source} ",
        "format-muted": "{volume}%  {format_source} ",
        // "format-muted": "",
        // "format-source": "{volume}% ",
        "format-source": "",
        "format-source-muted": "",
        "format-icons": {
            "headphone": " ",
            "hands-free": " ",
            "headset": " ",
            "phone": " ",
            "portable": " ",
            "car": " ",
            "default": ["󰕿", "󰖀", "󰕾"]
        },
        "on-click": "pavucontrol",
        "on-click-right": "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle",
        "on-click-middle": "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle",
        "on-scroll-up": "$HOME/.config/hypr/scripts-assets-hypr/volume-set.sh +",
        "on-scroll-down": "$HOME/.config/hypr/scripts-assets-hypr/volume-set.sh -"
    },

    "custom/expand-left": {
        "tooltip": false,
        "format": "\uf0d9",
    },
    "custom/expand-right": {
        "tooltip": false,
        "format": "\uf0da",
    },
    "custom/expand-down": {
        "tooltip": false,
        "format": "\uf0d7",
    },
    "tray": {
        // "icon-size": 21,
        "spacing": 0,
        // "icons": {
        //   "blueman": "bluetooth",
        //   "TelegramDesktop": "$HOME/.local/share/icons/hicolor/16x16/apps/telegram.png"
        // }
    },
    "group/minimized": {
        "orientation": "inherit",
        // "modules": ["custom/expand", "tray"],
        "modules": ["custom/expand-left", "idle_inhibitor", "power-profiles-daemon", "tray"],
        "drawer": {
            "transition-duration": 500,
            "children-class": "minimized",
            "transition-left-to-right": false,
            "click-to-reveal": true
        }
    },

    "custom/power": {
        "format" : "⏻",
    		"tooltip": false,
    //		"menu": "on-click",
    //		"menu-file": "$HOME/.config/waybar/power_menu.xml", // Menu file in resources folder
    //		"menu-actions": {
    //			"shutdown": "shutdown",
    //			"reboot": "reboot",
    //			"suspend": "systemctl suspend",
    //			"hibernate": "systemctl hibernate"
    //		}
    	"on-click": "$HOME/.config/hypr/scripts-assets-hypr/waybar-power-button.sh",
    	"on-click-right": "$HOME/.config/hypr/scripts-assets-hypr/suspend.sh",
    	"on-click-middle": "systemctl poweroff"
    },



    "group/mpd": {
        "orientation": "inherit",
        // "modules": ["custom/expand", "tray"],
        "modules": [ "custom/expand-right", "mpd" ],
        "drawer": {
            "transition-duration": 500,
            "children-class": "minimized",
            "transition-left-to-right": true,
            "click-to-reveal": true
        }
    },

    "group/mpd-vertical": {
        "orientation": "vertical",
        // "modules": ["custom/expand", "tray"],
        "modules": [ "custom/expand-down", "mpd" ],
        "drawer": {
            "transition-duration": 500,
            "children-class": "minimized",
            "transition-left-to-right": true,
            "click-to-reveal": true
        }
    },
}
