@import url("style-defaults.css");
/* @import url("style-aero-metal.css"); */
/* @import url("style-webcore.css"); */
/* @import url("style-testing-tui.css"); */
/* @import url("style-aero-glass.css"); */
/* @import url("style-dracula-flat.css"); */
/* @import url("style-dracula-islands.css"); */
/* @import url("style-everforest-islands.css"); */
@import url("style-everforest-islands_winter.css");

{{- if eq .chezmoi.hostname "komorebi" }}
@import url("style-gruvbox-islands.css");
{{- end }}

{{- if eq .chezmoi.hostname "pakku" }}
@import url("style-testing-tui.css");
{{- end }}

/* @import url("style-cyberpunk.css"); */
@import url("dynamic-imports.css");
@import url(".overrides.css");/*# sourceMappingURL=style.css.map */
