* {
    /* border: none; */
    /* border-radius: 0; */
    font-family: "JetBrainsMonoNL Nerd Font";
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
}


window#waybar {
    /* background: #282a36; */
    background-color: transparent;
    /* color: white; */
    /* border-radius: 12px; */
}

.modules-left,
.modules-center,
.modules-right
{
    background: #282828;
    border-radius: 12px;
    border: 3px solid #D79921;
    /* border-color: #D79921; */
    border-color: #CC241D;
    padding: 0 12px;
    margin: 6px 6px;
}
.modules-left{
    padding-left: 0;
    padding-right: 0;
}
#workspaces{
    margin-right: 0;
    padding: 0;
}
#workspaces button:first-child{
    border-radius: 8px 0 0 8px;
}
#workspaces button:last-child{
    border-radius: 0 8px 8px 0;
}
.modules-center{
    border-color: #D79921;
}
.modules-right{
    padding-right: 0;
    /* border-color: #CC241D; */
}
/* Accidentaly made something cool */
/* Corners up are rounded but bottom are not */
/* Would be cool with no upper gaps */
/* .modules-left,
.modules-center,
.modules-right{
    border-radius: 8px 8px 0 0;
    margin-bottom: 0;
} */

tooltip {
  background: #282828;
  border: 3px solid #D79921;
  border-radius: 12px;
}
tooltip label {
  color: white;
}
#workspaces button {
    background: transparent;
    color: white;
}

/* #workspaces button:hover, #workspaces button.special:hover { */
#workspaces button:hover, #workspaces button.special:hover, #workspaces button.special.active {
    background: #D79921;
    /* color: white; */
    color: #282828;
}
/* #workspaces button.active, #workspaces button.special.active { */
#workspaces button.active {
    background: #CC241D;
    color: #282828;
}
#workspaces button.urgent {
    background: #B16286;
    color: #282828;
}
#workspaces button.special {
    color: rgba(255, 255, 255, 0.5);
    color: #44475a;
}

#custom-power:hover {
    background: #D79921;
    color: #282828;
    border-radius: 0 8px 8px 0;
}