.bar {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 10px;
  font-weight: 900;
  color: $fg;

  & .container {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  & .box {
    padding: 0 8px 0 8px;
    border-radius: 8px;
    border-width: 1px;
    /* border-color: $fgh; */
    /* border-color: $bordercolor; */
  }

  & .divider { font-size: 14px; }

  & .menu {
    &.cava { font-size: 8px; }
    &.arch { font-size: 14px; padding: 0 16px 0 12px; }

    &:hover {
      color: $gray;
    }
  }

  & .workspaces {
    & button {
      background-color: $fg;
      font-size: 10px;
      border-radius: 99px;
      padding: 5px;

      &:hover {
        background-color: $gray;
      }

      &.active {
        background-color: $mainaccent;
        padding: 5px 10px 5px 10px;
        border-radius: 4px;
      }
    }
  }

  & .activewindow {
    padding: 0 2rem;

    & .icon {
      font-size: 12px;
    }
  }

  & .controls {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;

    & .time {
      font-weight: 900;
      margin-right: 4px;
    }

    & .menu {
      background-color: $bg2;
      border-radius: 8px;
      padding-right: 2px;
    }

    & .network.active, & .notif.active {
      color: $gray;
    }

    & .battery {
      padding-left: 8px;
    }
    & .battery-full {
      padding-left: 8px;
      color: $green;
    }
    & .battery-weak {
      padding-left: 8px;
      color: $yellow;
    }
    & .battery-dead {
      padding-left: 8px;
      color: $red;
    }

    & button, .divider {
      padding: 4px 7px;
      font-size: 14px;
    }

    & .shutdown {
      color: $mainaccent;
      font-size: 14px;
      padding-right: 1rem;
    }
  }
}
