/* Testing dorfic (orange) */
window#waybar {
    background: #ffb86c;
    color: black;
    /* color: #282a36; */
}
#workspaces button {
    background: transparent;
    color: black;
    /* border-bottom: 3px solid transparent; */
}
#workspaces button:hover, #workspaces button.special:hover {
    background: transparent;
    /* border-bottom: 3px solid white; */
    color: white;
}
#workspaces button.active, #workspaces button.special.active {
    background: #50fa7b;
    color: #282a36;
}