
* {
    border: none;
    border-radius: 0;
    /* font-family: "JetBrainsMonoNL Nerd Font", Roboto, Helvetica, Arial, sans-serif; */
    font-size: 14px;
    /* font-weight: bold; */
    min-height: 0;
}

#custom-expand {
    min-width: 15px;
}

#tray {
    margin: 0;
    margin-right: 10;
    padding: 0;
}

#tray * {
    margin-left: 8px;
}


#power-profiles-daemon {
    margin-right: 8px;
}
#idle_inhibitor {
    margin-right: 16px;
}

#group-minimized {
    border-left: solid;
    border-left-width: 0.5;
}


/* #custom-power {
    margin-right: 16px;
} */
#custom-power {
    padding-left: 10px;
    padding-right: 14px;
    margin: 0px;
}