* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMonoNL Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  min-height: 0;
}


/* @import url("style-dracula_flat.css"); */
@import url("style-aero-metal.css");

@import url(".overrides.css");