## For any temporary experimental overrides
general {
    #gaps_in = 8
    #gaps_out = 20
    
    # col.inactive_border = rgba(00000000)
    # Metalic half transparent border
    # col.inactive_border = rgba(ffffffcc) rgba(000000cc) 90deg
    # col.inactive_border = rgba(555555ff) rgba(ffffffff) rgba(555555ff) 45deg
    # col.inactive_border = rgba(000000ff) rgba(ffffffff) rgba(000000ff) 45deg

    # White transparent border
    # col.inactive_border = rgba(ffffff00) rgba(ffffffcc) rgba(ffffff00) 45deg
    # col.inactive_border = rgba(00000000) rgba(ffffffff) rgba(00000000) 45deg

    # col.active_border = $orange $green 45deg

    ## col.active_border = rgba(cfcfcfff) rgba(ffffffff) rgba(ffffffff) rgba(cfcfcfff) 90deg
    
    ## col.active_border = rgba(272935ff) rgba(1a1b23ff) rgba(111217ff) rgba(020203ff) 90deg
    ## col.active_border = rgba(323440ff) rgba(1a1b23ff) rgba(111217ff) rgba(020203ff) 90deg
}
# decoration{
# 	shadow{
		# enabled = false
		# enabled = true
		# range = 4
		# render_power = 2
		# color = rgba(000000ff)
		#sharp = true

		# color = rgba(ffffffff)
		# range = 5
		# render_power = 1
		# color = rgba(ffffff55)
# 	}
# }



## Vaporwave
# general {
#     gaps_in = 8
#     gaps_out = 20
    
#     border_size = 4

#     col.inactive_border = rgba(BFC1C0FF) # gray
#     col.active_border = rgba(E19BE2FF) # pink

#     # col.active_border = rgba(0001C9FF) # VGA blue
    
#     # col.inactive_border = rgba(09090DFF) # black
#     # col.active_border = rgba(F6ABABFF) # peach
# }
# decoration {
#     rounding = 0
#     rounding_power = 0

#     shadow {
#         enabled = true
#         range = 6
#         render_power = 2
#         color = rgba(000000ff)
#         color = rgba(892CA7FF) # purple
#         # color = rgba(1A9A8CFF) # teal
#         # color = rgba(F6ABABFF) # peach
#     }
# }



## Aero Glass
#blurls = waybar
# layerrule = blur,waybar
# layerrule = blur,rofi
# general {
#     col.inactive_border = rgba(00000055) rgba(00000011) rgba(00000055) rgba(00000011) rgba(00000055) 45deg
#     col.active_border = rgba(ffffff55) rgba(ffffff11) rgba(ffffff55) rgba(ffffff11) rgba(ffffff55) 45deg
#     col.active_border = rgba(EEEEFFff)
# }
# decoration{
#     rounding = 4
#     rounding_power = 8
#     shadow{
# 	 enabled = false
#     }
#     blur {
#         enabled = true
#          special = true
#         size = 2 # 8
#         passes = 1
    
#         noise = 0.0117
#         # contrast = 0.8916 # 0.8916
#         brightness = 0.9 # 0.8172
#         # vibrancy = 1 # 0.1696
#         # vibrancy_darkness = 0 # 0
#     }
# }


## Flat Rounded Dracula
general {
    col.inactive_border = rgb(44475a)
    col.active_border = $green
    # col.active_border = $purple

    # Everforest
    col.inactive_border = rgb(272E33)
    # col.active_border = rgb(A7C080)
    col.active_border = rgb(83C092)
    col.active_border = rgb(7FBBB3)

    # Gruvbox
    {{- if eq .chezmoi.hostname "komorebi" }}
    col.inactive_border = rgb(282828)
    col.active_border = rgb(CC241D)
    {{- end }}
}
decoration{
    rounding = 4
    rounding_power = 4
    blur {
        enabled = false
        special = false
    }
}

## TUI-like tight interface
{{- if eq .chezmoi.hostname "pakku" }}
general {
     gaps_in = 0
     gaps_out = 0
    
     border_size = 2
   
     col.inactive_border = rgba(262626ff)
     col.active_border = rgba(B589D6ff)
}
  decoration{
    rounding = 0
    rounding_power = 0
	shadow{
        enabled = false
    }
    dim_inactive = true
    dim_strength = 0.2
}
{{- end }}

## Cyberpunk / Corpserunner
# general {
#     col.inactive_border = rgba(081921ff)
#     col.active_border = rgba(feff01ff)
#     # col.active_border = rgba(ff1791ff)
# }
# decoration{
#     rounding = 0
#     rounding_power = 0
#     shadow{
# 	    enabled = true
#     }
#     blur {
#         enabled = false
#         special = false
#     }
# }


## Raw i3/sway feel for a low-power device, umpc or smth
# animations {
#     enabled = false
# }
# decoration {
#     rounding = 0
#     blur{
#         enabled = false
#     }
#     shadow{
# 	    enabled = false
#     }
# }





animations {
    # Default animations, see https://wiki.hyprland.org/Configuring/Animations/ for more

    # bezier = easeOutQuint,0.23,1,0.32,1
    # bezier = easeInOutCubic,0.65,0.05,0.36,1
    # bezier = linear,0,0,1,1
    # bezier = almostLinear,0.5,0.5,0.75,1.0
    # bezier = quick,0.15,0,0.1,1

    # animation = global, 1, 10, default
    # animation = border, 1, 5.39, easeOutQuint
    # animation = windows, 1, 4.79, easeOutQuint
    # animation = windowsIn, 1, 4.1, easeOutQuint, popin 87%
    # animation = windowsOut, 1, 1.49, linear, popin 87%
    # animation = fadeIn, 1, 1.73, almostLinear
    # animation = fadeOut, 1, 1.46, almostLinear
    # animation = fade, 1, 3.03, quick
    # animation = layers, 1, 3.81, easeOutQuint
    # animation = layersIn, 1, 4, easeOutQuint, fade
    # animation = layersOut, 1, 1.5, linear, fade
    # animation = fadeLayersIn, 1, 1.79, almostLinear
    # animation = fadeLayersOut, 1, 1.39, almostLinear


    # animation = workspaces, 1, 1.94, almostLinear, fade
    # animation = workspacesIn, 1, 1.21, almostLinear, fade
    # animation = workspacesOut, 1, 1.94, almostLinear, fade

    # animation = workspaces, 1, 1.94, easeOutQuint#, fade
    # animation = workspacesIn, 1, 1.21, easeOutQuint#, fade
    # animation = workspacesOut, 1, 1.94, easeOutQuint#, fade
}
