# See https://wiki.hyprland.org/Configuring/Monitors/

{{- if eq .chezmoi.hostname "hoshizora" }}
$monitorMain=DP-2
$monitorSecond=DP-1
monitor = $monitorMain, 1920x1080@165, 0x0, 1
monitor = $monitorSecond, 1920x1200@60, 1920x-280, 1, transform, 1
{{- end }}

{{- if eq .chezmoi.hostname "komorebi" }}
$monitorMain=eDP-1
monitor = $monitorMain, 1920x1080@60, 0x0, 1.2
{{- end }}

{{- if eq .chezmoi.hostname "pakku" }}
$monitorMain=DSI-1
monitor = $monitorMain, 1920x1200@60, 0x0, 2, transform, 3
{{- end }}


misc{
    # vrr = 3
    # direct_scanout = 2
    mouse_move_enables_dpms = false
    key_press_enables_dpms = true
}
